{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Update Password</h2>
    <a href="{% url 'users:author-detail' user.slug %}">Back to profile</a>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
    </form>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
