{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

<div id="profile-container">
    <!-- Success Messages -->
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <br>
    
    <!-- Profile Section -->
    <section id="profile-section">
        <img class="profile-img" src="{{ object.profile_img.url }}" alt="Profile Image">
        <div id="profile-text">
            <h2 class="lead">{{ object.get_full_name|default:object.username }}</h2>
            <p>{{ object.bio }}</p>
        </div>
    </section>
    
    <!-- Edit Profile and Change Password Buttons -->
    <div id="profile-function-buttons">
        {% if user.is_authenticated and user == object %}
        <a class="btn btn-primary" href="{% url 'users:author-update' user.slug %}"><i class="fas fa-chevron-right"></i> &nbsp;&nbsp Edit profile information</a>
        <a class="btn btn-secondary" href="{% url 'users:change-password' user.slug %}"><i class="fas fa-chevron-right"></i> &nbsp;&nbsp Change your password</a>
        {% else %}
        <a class="btn btn-primary" href="mailto: {{ object.email }}">Email {{ object.first_name }}</a>
        {% endif %}
    </div>
    
    <!-- Author Stories Section -->
    {% if object.stories.all %}
    <section id="profile-stories-section">
        {% if user == object %}
        <h2 class="section-lead">Your Stories</h2>
        {% else %}
        <h2 class="section-lead">{{ object.first_name|default:object.username }}'s Stories</h2>
        {% endif %}
        <div id="profile-story-container">
            {% for story in object.stories.all %}
            <div class="story-card" id="story-card-{{ position }}">
                <a href="{% url 'news:story' story.slug %}">
                    <!-- Story Image -->
                    <img src="{{ story.image.url }}" alt="{{ story.title }}">
            
                    <!-- Story Content -->
                    <div class="story-card-text">
                        <h3 class="story-card-headline">{{ story.title }}</h3>
                        <p>{{ story.pub_date }} | 
                        {% for category in story.story_category.all %}
                        <a class="category text-primary" href="{% url 'news:category-detail' category.slug %}">{{ category }}</a>
                        {% endfor %}
                        </p>
                        <p>Written by <a class="text-primary" href="{% url 'users:author-detail' story.author.slug %}">{{ story.author.get_full_name|default:story.author.username }}</a></p>
                        <a class="btn-subtle" href="{% url 'news:story' story.slug %}">Read the story &nbsp;&nbsp <i class="fas fa-arrow-right text-secondary"></i></a>
                    </div>
                </a>
            </div>           
            {% endfor %}
        </div>
    
        {% else %}
        <p>{{ object.username }} hasn't written any stories yet.</p>
    </section>
    {% endif %}
</div>

{% endblock %}
