{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="formpage-container">
    <div class="form-function-buttons">
        <a class="btn btn-primary" href="{% url 'users:author-detail' user.slug %}">Back to profile</a>
    </div>

    <h2 class="section-lead">Edit Account</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Update Account</button>
    </form>
</div>
{% endblock %}
 