{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Sophie Phoon">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <div id="header-container-top">
                <div id="header-text">
                    <a id="header-link" href="{% url 'news:index' %}">
                        <img class="header-logo" src="{% static 'she_codes_news/SheCodesNews_LOGO.png' %}" alt="She {Codes} News">
                    </a>
                </div>
                <div id="search">
                    <form action="{% url 'news:search-results' %}" method="GET">
                        <input class="searchbar" name="q" type="text" placeholder="Search...">
                    </form>
                </div>
                <div class="nav">
                    {% include './nav.html' %}
                </div>
            </div>
            <div id="header-container-bottom">
                <h1 id="page-heading">She {Codes} News</h1>
                <p id="page-subheading">Find out all the latest news in the She Codes community!</p>
            </div>
        </header>
        
        {% block content %}{% endblock %}
    </body>
</html>
