@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


/* STYLE RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.6;
    color: #555;
}

a, p {
    font-size: 1.1rem;
}

/* BASE STYLING */

/* Header */
header {
    background-image: url(./she_codes_news/shecodes_banner.jpg);
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0 20px;
    text-align: center;
    margin: auto;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header * {
    z-index: 10;
}

#header-container-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    margin: 0 50px;
}

#header-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.header-logo {
    height: 120px;
    width: 120px;
}

#header-text {
    display: flex;
}

#page-heading {
    color: #ffffff;
    font-size: 5rem;
    margin-bottom: 2rem;
    max-width: 800px;
}

#page-subheading {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    max-width: 600px;
}

/* Header-Navigation */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #F9A526;
    color: #F9A526;
}

/* Header-Searchbar */
.searchbar {
    height: 2rem;
    width: 400px;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    display: inline-block;
}

.searchbar:focus {
    border: none;
    outline: none;
}

#search form {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* UTILITY CLASSES (FOR REUSE) */

/* Story Cards */
.story-card {
    margin: 2px;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.story-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.story-card-text {
    padding: 20px 30px;
}

.story-card-headline {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

/* Images */
.profile-img {
    height: auto;
    width: 250px;
    object-fit: contain;
}

/* Text */
.text-primary { color: #7A44A1; }
.text-secondary { color: #F9A526; }

/* Icons */
.fas:hover {
    color: #F9A526;
}

/* Buttons */
.btn-subtle {
    display: inline-block;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 15px;
    background-color: #7A44A1;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.btn:hover { background-color: #000; }

.btn-primary { background-color: #7A44A1; }
.btn-secondary { background-color: #F9A526; }
.btn-dark { background-color: #000; }

/* Headings */
.lead {
    font-size: 3rem;
    margin-bottom: 30px;
}

.section-lead {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Messages */
.messages,
form ul {
    list-style: none;
    padding: 15px;
    background-color: #F9A526;
    margin: auto;
    text-align: center;
    width: fit-content;
    margin-bottom: 30px;
}

.messages li {
    font-size: 1rem;
}

/* HOME PAGE */
#home-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

#index-function-buttons {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#index-function-buttons p {
    align-self: center;
    margin-right: 20px;
}

#latest-news-container {
    padding: 30px 0 50px 0;
}

#latest-stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

#latest-stories .story-card:nth-child(2) {
    flex-direction: column-reverse;
}

#all-news-container {
    padding: 50px 0;
}

#all-stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#all-stories .story-card:nth-child(3n+2) {
    flex-direction: column-reverse;
}

/* FORM PAGES */
.formpage-container {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px 50px 20px;
}

.form-function-buttons {
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px 0 50px 0;
}

form p {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

form button[type=submit] {
    flex-basis: content;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    outline: none;
    border: none;
    width: fit-content;
    align-self: flex-end;
    margin-top: 30px;
}

form p label {
    flex-basis: 30%;
}

form .helptext {
    display: none;
}

form p input,
form p input:focus, 
form p input:active {
    height: 2rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 1px solid #333;
    flex-basis: 70%;
    outline: none;
}

form p textarea,
form p textarea:focus,
form p textarea:active {
    outline: none;
    flex-basis: 70%;
    border: 1px solid #333;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

form p input#id_pub_date_0,
form p input#id_pub_date_1,
form p input#id_mod_date_0,
form p input#id_mod_date_1 {
    flex-basis: 35%;
}


/* PROFILE PAGE */
#profile-container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

#profile-section {
    padding: 50px 0;
    display: flex; 
}

#profile-section #profile-text {
    margin-left: 50px;
}

#profile-function-buttons {
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 50px;
}

#profile-function-buttons a {
    margin: 0 10px;
}

#profile-stories-section {
    padding: 50px 0;
    border-top: 1px solid #ccc;
}

#profile-story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* STORY PAGE */
#storypage-container {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}

#storypage-function-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#story-info {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

#story-info p,
#story-info a,
#story-info small {
    font-size: 0.8rem;
}

#story-content {
    display: flex;
    margin-top: 30px;
}

#story-text {
    flex-basis: 50%;
}

#story-image-box {
    flex-basis: 50%;
    margin-right: 30px;
}

#story-image-box img {
    width: 100%;
}

#comments-section {
    margin: 100px 0;
    padding: 30px;
    background-color: #7A44A1;
}

#comments-section h2,
#comments-section label,
#comments-section .alert {
    color: #fff;
}

#comments-section form textarea {
    border: 2px solid #888;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
}

#comments {
    display: flex;
    flex-direction: column;
}

.comment {
    margin: 20px 0;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comment .meta-comment-section {
    display: flex;
    justify-content: space-between;
}

.comment .comment-info {
    margin-top: 10px;
    align-self: flex-start;
    justify-self: flex-end;
}

.comment p.comment-info,
.comment .comment-info a {
    font-size: 0.8rem;
}

.comment .icons {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}

.comment .icons a {
    margin: 0 5px;
}


/* SEARCH RESULTS PAGE */
#searchpage-container {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}

#results-container .story-card-text {
    padding: 5px;
    background-color: #f4f4f4;
}

/* CATEGORY PAGE */
#category-container {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}

@media screen and (max-width:992px) {
    #header-container-top,
    #index-function-buttons,
    #profile-section,
    #story-info,
    #story-content,
    form p {
        flex-direction: column;
    }

    h1, h2, h3 {
        text-align: center;
    }

    a, p {
        font-size: 1.3rem;
    }

    header {
        height: 100vh;
    }

    .searchbar {
        height: 3rem;
    }

    #page-heading,
    #page-subheading {
        margin-bottom: 15px;
    }

    #page-heading {
        font-size: 2.8rem;
    }

    #page-subheading {
        font-size: 1.4rem;
    }

    #search form {
        height: fit-content;
    }

    #index-function-buttons {
        align-items: center;
    }

    #index-function-buttons p {
        margin-bottom: 20px;
    }

    #latest-stories,
    #all-stories,
    #profile-story-container {
        display: flex;
        flex-direction: column;
    }

    #latest-stories .story-card:nth-child(2), #all-stories .story-card:nth-child(3n+2) {
        flex-direction: column;
    }

    #profile-section #profile-text {
        margin-left: 0;
        text-align: center;
    }

    #profile-section img {
        align-self: center;
        margin-bottom: 30px;
    }

    #profile-function-buttons {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #profile-function-buttons a {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    #storypage-function-buttons {
        justify-content: center;
    }

    #storypage-function-buttons a {
        font-size: 1rem;
    }

    #story-content {
        text-align: center;
    }

    #story-image-box {
        margin-right: 0;
    }

    /* form {
        text-align: center;
    } */

    form p label {
        margin-bottom: 10px;
    }

    form button[type=submit] {
        align-self: center;
        margin-top: 15px;
    }

    #results-container {
        text-align: center;
    }

    form input,
    form textarea {
        font-size: 1.5rem;
    }

    form textarea {
        width: 100%;
    }
}