{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div class="formpage-container">
    <div class="form-function-buttons">
        <a class="btn btn-secondary" href="{% url 'news:index' %}">Quit and Return to Home</a>
    </div>
    <h2 class="section-lead">Write a Story</h2>
    
    <form id="form-container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Post now!</button>
    </form>
</div>
{% endblock %}