{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

<!-- block content comes from base.html -->
{% block content %}
<div id="home-container">
    <div id="index-function-buttons">
        {% if user.is_authenticated %}
        <p>Welcome back, {{ user.first_name|default:user.username }}! <i class="fas fa-arrow-right"></i></p>
        <a class="btn btn-secondary" href="{% url 'news:newsStory' %}">Write New Story</a>
        {% else %}
        <p>Welcome to the She Codes News Page! Sign up or log in to get writing <i class="fas fa-arrow-right"></i></p>
        <a class="btn btn-primary" href="{% url 'login' %}">Login To Write a New Story</a>
    {% endif %}
    </div>
    
    <div id="latest-news-container">
        <h2 class="section-lead">Latest News</h2>
        <div id="latest-stories">
            {% if latest_stories %}
                {% for story in latest_stories %}
                    {% include "./storyCard.html" with story=story position=forloop.counter %}
                {% endfor %}
            {% else %}
            <p>No stories are available.</p>
            {% endif %}
        </div>
    </div>
    
    <div id="all-news-container">
        <h2 class="section-lead">All News Stories</h2>
        <div id="all-stories">
            {% if latest_stories %}
                {% for story in all_stories %}
                    {% include "./storyCard.html" with story=story %}
                {% endfor %}
            {% else %}
            <p>No stories are available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}