{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div id="storypage-container">
    {% if user.is_authenticated and user == story.author %}
    <div id="storypage-function-buttons">
        <a class="btn btn-primary" href="{% url 'news:edit-story' story.slug %}">Edit Story</a>
        <a class="btn btn-dark" href="{% url 'news:delete-story' story.slug %}">Delete</a>
    </div>
    {% endif %}
    <h2 class="section-lead">{{ story.title }}</h2>
    <p>Written by <a class="text-primary" href="{% url 'users:author-detail' story.author.slug %}">{{ story.author.get_full_name|default:story.author.username }}</a></p>
    {% if story.mod_date %}
    <p>Originally published on {{ story.pub_date }}</p>
    <p>Last updated on {{ story.mod_date }}</p>
    {% else %}
    <p>Published on {{ story.pub_date }}</p>
    {% endif %}
    <p>Categories: 
    {% for category in story.story_category.all %}
    <small><a class="text-primary" href="{% url 'news:category-detail' category.slug %}">{{ category }}</a></small>
    {% endfor %}
    </p>
    <div id="story-content">
        <div id="story-image-box">
            <img src="{{ story.image.url }}">
        </div>
        <div id="story-text">
            {{ story.content|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}