{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    {% if user.is_authenticated and user == story.author %}
    <a href="{% url 'news:edit-story' story.slug %}">Edit</a>
    <a href="{% url 'news:delete-story' story.slug %}">Delete</a>
    {% endif %}
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
    </div>
</div>
{% endblock %}