{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<div id="storypage-container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated and user == story.author %}
    <div id="storypage-function-buttons">
        <a class="btn btn-primary" href="{% url 'news:edit-story' story.slug %}">Edit Story</a>
        <a class="btn btn-dark" href="{% url 'news:delete-story' story.slug %}">Delete</a>
    </div>
    {% endif %}
    <h2 class="section-lead">{{ story.title }}</h2>
    <div id="story-info">
        <p>Published by <a class="text-primary" href="{% url 'users:author-detail' story.author.slug %}">{{ story.author.get_full_name|default:story.author.username }}</a> on {{ story.pub_date }}{% if story.mod_date %} | Last updated: {{ story.mod_date }}{% endif %}</p>

        <p>
            {% for category in story.story_category.all %}
            <small><a class="text-primary" href="{% url 'news:category-detail' category.slug %}">{{ category }}</a></small>
            {% endfor %}
        </p>
    </div>
    <div id="story-content">
        <div id="story-image-box">
            <img src="{{ story.image.url }}">
        </div>
        <div id="story-text">
            {{ story.content|linebreaks }}
        </div>
    </div>

    <section id="comments-section">
        <h2 class="section-lead">{{ story.approved_comments.count }} Comments</h2>
        {% if new_comment %}
        <p class="alert">Your comment is awaiting moderation.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
        {% endif %}
        <div id="comments">

        <!-- Story Author View -->
        {% if user.is_authenticated and user == story.author %}
            {% for comment in story.comments.all %}
            <div class="comment">
                <p>{{ comment.content | linebreaks }}</p>
                <div class="meta-comment-section">
                    <p class="comment-info"><a class="text-primary" href="{% url 'users:author-detail' comment.name.slug %}">{{ comment.name }}</a> | {{ comment.pub_date }}</p>
    
                    <div class="icons">
                        <a href="{% url 'news:remove-comment' story.slug comment.pk %}"><i class="fas fa-trash-alt"></i></a>
        
                        {% if not comment.approved %}
                        <a href="{% url 'news:approve-comment' story.slug comment.pk %}"><i class="fas fa-check-circle"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>  
            {% endfor %} 
        {% endif %}      

        <!-- Commenter View -->
        {% for comment in story.comments.all %}
            {% if comment.approved and user != story.author %}
            <div class="comment">
                <p>{{ comment.content | linebreaks }}</p>
                <div class="meta-comment-section">
                    <p class="comment-info"><a class="text-primary" href="{% url 'users:author-detail' comment.name.slug %}">{{ comment.name }}</a> | {{ comment.pub_date }}</p>
                    {% if user.is_authenticated and user == comment.name %}
                    <div class="icons">
                        <a href="{% url 'news:remove-comment' story.slug comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>
    
</div>
{% endblock %}